<%- include('includes/head')%>
<%- include('includes/nav')%>

<div class="container">
  
  <div class="row" action="/agenda">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">

      <h1 class="text-center">Bem-vindo</h1>
      <p class="text-center lead">Seus contatos estão abaixo</p>
      
      <%- include('includes/messages') %>

      <% if(contatos.length > 0) { %>
      <div class="responsive-table">
        <table class="form-agenda table my-3">
          <% contatos.forEach(contato => { %>
            <tr>
              <td><%= contato.nome %></td>
              <td><%= contato.sobrenome %></td>
              <td><%= contato.telefone %></td>
              <td><%= contato.email %></td>
              <td><a href="/contato/index/<%= contato._id %>">Editar</a></td>
              <td><a href="/agenda/delete/<%= contato._id %>" class="text-danger">Excluir</a></td>
            </tr>
          <% }); %>
        </table>
        <div class="flex">
          <a href="/contato/index" class="btn btn-primary">Novo Contato</a>   
          <a href="/log" class="btn btn-primary">Retornar</a>   
        </div>
      </div>
      <% } else { %>
        <p class="text-center lead">Não existem contatos na sua agenda.</p>
      <% } %>
    </div>
  </div>
</div>

<%- include('includes/footer')%>
